{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.liquid",
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
