/* add custom font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap'); /* custom font import */

.text-body {
  font-family: 'Roboto Flex', serif; /* custom font */
}

/* slider - custom style */
.slider
  .product__media-item
  .product-media-container
  .media
  > *:not(.zoom):not(.deferred-media__poster-button),
.media model-viewer {
  border-radius: 12px;
}

.slider .product-media-container.media-type-image {
  border: none;
}

/* product details - info section */
.product__info-wrapper .price-item.price-item--regular {
  color: #414141;
  leading-trim: both;
  text-edge: cap;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  font-family: 'Roboto Flex';
}

.product__info-wrapper .product__title h1 {
  color: #111111;
  leading-trim: both;
  text-edge: cap;
  font-family: 'Roboto Flex';
  font-size: 48px;
  font-style: normal;
  font-weight: 440;
  line-height: 48px; /* 100% */
  margin-bottop: 24px;

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 32px;
  }
}

.product__info-wrapper .price.price--large {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
  margin-bottom: 38px;
}

.product__info-wrapper .quantity__label.form__label {
  color: #414141;
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  margin-bottom: 30px;
}

.product__info-wrapper .price-per-item__container .quantity {
  background: #f3f1eb;
  border-radius: 6px;
}

.product__info-wrapper .price-per-item__container .quantity .quantity__button {
  border-radius: 6px;
}

.product__info-wrapper .price-per-item__container .quantity:after {
  border: none;
  border-radius: 6px;
  box-shadow: none;
}

.product__info-wrapper .product-form__submit.button--secondary {
  background: transparent;
  border-radius: 200px;
  border: 1px solid #000;
  color: #111111;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: 'Roboto Flex';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
}

.product__info-wrapper .button:after {
  box-shadow: none;
}

.product__info-wrapper .button:after {
  border-radius: 200px;
}

.product__info-wrapper .shopify-payment-button__button {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: 'Roboto Flex';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 8px;
}

.product__info-wrapper .shopify-payment-button__button,
.product__info-wrapper .shopify-payment-button__button:after {
  border-radius: 200px;
}
